body {
    background-color: black;
}

header {
    background-color: white;
    width: 900px;
    padding: 20px 0;
    margin: 20px 20px 0;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

.menu_box {
   margin: 5px 30px;
}

.logo {
    border: 1px;
    margin-right: 50px;
}

.logo_item {
    color: #0862c9fd;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
}

.menu_singular_item {
    color: #0862c9fd;
    font-size: 21px;
    font-weight: lighter;
    text-decoration: none;
}

.menu_items {
    padding: 10px 6px;
    border: solid 1px;
    margin: 3px;
    border-color: black;
    border-radius: 7px;
}

main {
    background-color: white;
    width: 900px;
    margin: 0px 20px 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.baner {
    background-image: url("https://burst.shopifycdn.com/photos/two-customized-cars-rolling-through-a-city-street.jpg?width=1850&format=pjpg&exif=1&iptc=1");
    background-size:cover;
    background-repeat: no-repeat;
    background-color: white;
    height: 600px;
    border: 1px solid white;
    margin: 19px 1px 19px;
}

.headline_box {
    width:fit-content;
    margin: 130px auto;
}

.baner_headline {
    font: bold;
    font-size: 70px;
    color: white;
    text-align: left;
}   

.content_box {
    width: 50%;
    border: 1px solid black;
    padding: 10px;
    margin: 20px auto;
}

.content_headline {
    font-weight: bold;
    font-size: 150%;
}

.box_internal {
    border: 1px solid transparent;
    margin: 20px;
}

footer {
    background-color: white;
    width: 900px;
    margin: 0 20px 20px;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
}

.footer_text {
    padding: 15px;
}